.center {
    text-align: center;
}

/* .pdInput {
    width: 50%;
} */

.productField {
    margin-top: 22px;
}

.varticlCenter {
    margin: auto;
    width: 50%;
    padding: 20px;
}

.titleFont {
    color: #6b6ba9;
    font-weight: 900;
}

#result {
    margin-top: 10px;
}

.subTitleFont {
    color: #d61ed0;
    font-weight: 900;
}
.description {
    margin-bottom: 3%;
}

.descriptionLink {
    /* margin-top: 2%;
    margin-bottom: 2%; */
    margin: 2%;
}